<!DOCTYPE html>
<html lang="pt-br>

<head>
  
  <!-- Tags Padrão -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>

  <link rel="icon" href="./img/store-icon.png">
  <title>Fashion Store Online</title>
</head>

<body style="min-width:372px; background-color:#EEEDE7">

<!-- Barra de Navegação -->         
<nav class="navbar navbar-expand-lg navbar-dark bg-danger"  border-bottom shadow-sm mb-3">
  
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><strong>Fashion Store Online</strong>
    <svg 
             xmlns="http://www.w3.org/2000/svg" 
             width="24" 
             height="24" 
             fill="currentColor" 
             class="bi bi-cart3" 
             viewBox="0 0 16 16"
            >
  	     <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
    </svg>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="#">Seja Bem Vindo!! Faça sua compra com segurança.</a>
        </li>

      </ul>
        
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" 
           class="bi bi-search" viewBox="0 0 16 16"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
          </svg>
        </button>
      </form>
    </div>

  </div>
</nav>

<!-- FIM Barra de Navegação -->

  <!-- Região do Carossel/Slides -->
  <header class="container">

      <div id="carouselMain" class="carousel carousel-dark slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselMain" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselMain" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselMain" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>

          <div class="carousel-inner">
              <div class="carousel-item active text-center" data-interval="3000">
                  <img src=".\img\slides\Natal.png" alt="Imagem de tema natalino" class="img-fluid d-none d-md-block">
                  <img src=".\img\slides\NatalSmall.png" alt="Imagem de tema natalino" class="img-fluid d-block d-md-none">  
              </div>

              <div class="carousel-item text-center" data-interval="3000">
                  <img src=".\img\slides\PinkStyle.png" alt="Imagem de slide dois" class="img-fluid d-none d-md-block">
                  <img src=".\img\slides\PinkStyleSmall.png" alt="Imagem de slide dois" class="img-fluid d-block d-md-none">  
              </div>

              <div class="carousel-item text-center" data-interval="3000">
                  <img src=".\img\slides\3.png" alt="Imagem de slide dois" class="img-fluid d-none d-md-block">
                  <img src=".\img\slides\3Small.png" alt="Imagem de slide dois" class="img-fluid d-block d-md-none">  
              </div>
          </div>
          
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselMain" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselMain" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>

      </div>
      <hr class="mt-3"/>
  </header>

<!-- Região de Conteúdo - Produtos e Carrinho -->
<main class="mb-5 pb-5 mb-md-0">

<div id="app" class="container mt-5">
 <div class="row"> <!-- Mantém os dois conteúdos na horizontal - lado a lado -->

      <div class="col-md-6"><!-- Mantém os dois conteúdos na horizontal - lado a lado -->
      <h2>Produtos</h2>

      <!-- Área de consulta dos produtos -->
      <ul class="list-group">
        <li class="list-group-item" v-for="product in products" style="background-color:#F6F6F6">

          <div class="card mb-3" style="width: 26rem;">
             <div class="row g-0"> <!-- Os produtos ficam organizados -->

          	 <!-- Produto -->
                 <div class="col-md-4">
                     <img :src="product.image" class="img-fluid rounded-start" alt="Imagem do Produto">
                 </div>
                 <div class="col-md-8">
                     <div class="card-body">
                     <h6 class="card-title"> {{ product.name }} </h6>
                     <p class="card-text"> R$ {{ product.price }}</p>
		     <button class="btn btn-primary btn-sm " @click="addToCart(product)">Adicionar ao Carrinho</button>
                     </div>
                 </div>

             </div>
          </div>
        </li>
      </ul>
      </div>    
      <!-- FIM da Área de consulta dos produtos -->


    <!-- Área do Carrinho de Compras -->
    <div class="col-md-6">
      <h2>Carrinho</h2>
      <ul class="list-group">
        <li class="list-group-item" v-for="item in cart">
          {{ item.name }}
          <span class="badge bg-secondary">{{ item.quantity }}</span>
          <button class="btn btn-danger btn-sm float-end" @click="removeFromCart(item)">Remover</button>
        </li>
      </ul>
      <p>Total: R$ {{ getTotal() }}</p>

      <button class="btn btn-success" @click="checkout">Finalizar Compra</button>
    </div>
    <!-- FIM da Área do Carrinho de Compras -->


 </div>    
</div>
  
</main>

  <!-- Região de Rodapé -->
  <footer class="border-top text-muted b-light">
      <div class="container">

          <div class="row py-3">
              <div class="col-12 col-md-4 text-center text-md-left">
                   &copy; 2023 - Compre Aqui Online
              </div>

              <div class="col-12 col-md-4 text-center">
                   <a href="#" class="text-decoration-none text-dark">Política de Privacidade</a>
              </div>
             
              <div class="col-12 col-md-4 text-center text-md-right">
                   <a href="#" class="text-decoration-none text-dark">Contato: (91) 98800-0000</a>
              </div>
 
          </div>
      </div>
  </footer>


<!-- Vue.js -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script>

  new Vue({
    el: '#app',
    data: {
      products: [],
      cart: []
    },

    created() {
      // Carrega os produtos da tabela no Supabase ao inicializar
      this.loadProducts();
    },

    methods: {
      async loadProducts() {
        // Credenciais Supabase
        const supabaseUrl = 'https://cbxvwvavjyfmfopujjch.supabase.co';
        const supabaseKey = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNieHZ3dmF2anlmbWZvcHVqamNoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDA4NTA1MjUsImV4cCI6MjAxNjQyNjUyNX0.DHP-KOWfWvVxsKjjVCmA6h0-PL_Umx7m7jgvZb696O4';
        const response = await fetch(`${supabaseUrl}/rest/v1/products`, {
          headers: {
            'Content-Type': 'application/json',
            'apikey': supabaseKey
          }
        });

        if (response.ok) {
          this.products = await response.json();
        } else {
          alert('Erro ao carregar produtos');
        }
      },

      // Função para adicionar produtos ao carrinho
      addToCart(product) {
        const cartItem = this.cart.find(item => item.id === product.id);

        if (cartItem) {
          cartItem.quantity++;
        } else {
          this.cart.push({
            id: product.id,
            name: product.name,
            price: product.price,
            quantity: 1
          });
        }
      },

      
      // Função para remover produtos do carrinho
      removeFromCart(item) {
        const index = this.cart.indexOf(item);
        if (index !== -1) {
          if (item.quantity > 1) {
            item.quantity--;
          } else {
            this.cart.splice(index, 1);
          }
        }
      },

      // Função para calcular o total do valor do produtos no carrinho
      getTotal() {
        return this.cart.reduce((total, item) => total + item.price * item.quantity, 0).toFixed(2);
      },

      async checkout() {
        // Credenciais Supabase
        const supabaseUrl = 'https://cbxvwvavjyfmfopujjch.supabase.co';
        const supabaseKey = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNieHZ3dmF2anlmbWZvcHVqamNoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDA4NTA1MjUsImV4cCI6MjAxNjQyNjUyNX0.DHP-KOWfWvVxsKjjVCmA6h0-PL_Umx7m7jgvZb696O4';
        
        // Cria uma tabela 'orders' no Supabase com colunas produtos e total
        const order = {
          items: this.cart,
          total: this.getTotal()
        };

        const { data, error } = await fetch(`${supabaseUrl}/rest/v1/order`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'apikey': supabaseKey
          },
          body: JSON.stringify(order)
        });

        if (data) {
          alert('Compra Finalizada com Sucesso');
          
          // Limpa o carrinho após o checkout
          this.cart = [];
        } else {
          alert('Erro ao Finalizar Compra');

        }
      }
    }
  });
</script>


</body>

</html>
