/* NavBar - Menu de Naveação */
.navbar{
    background-color: #414e79;
}

.navbar-brand{ /* Logo no canto esquerdo da navbar */
    color: white;
    font-family: "Contrail One", sans-serif;
}
    
 .navbar .nav-item i { /* Tamanho e cor dos icones da navbar */
    font-size: 17px;
    color: white;
    margin-right: 5px;
}

/* Texto de bem-vindo */
.head-container-fluid {
    margin-top: 90px;
    margin-left: 15px;
    margin-right: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Cards */
.card-container{
    margin-top: 30px;
}

.col-md-3 {
    margin-bottom: 1em;
}

.card {
    height: 100%;
    border: none;
    box-shadow: 0px 0px 2px 0px rgba(13, 12, 14, 0.329);
}

.card-header {
    background-color: #414e79;
    color: white;
}

.card-body {
    background-color: rgba(196, 197, 206, 0.151);
    border-radius: 5px;
}

/* Adiciona um pequeno espaço na margem esquerda entre a caixa de pesquisa e os outros elementos */
.search-box { 
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.search-box input {
    padding-right: 35px;
    min-height: 38px;
    width: 300px;
    border: none;
    background: #e8e5eb;
    border-radius: 3px !important;
}

.search-box input:focus {		
    background: #ffffff;
    box-shadow: none;
}

/*Tabela*/
.table-responsive {
    border-radius: 10px;
    background-color: rgba(196, 197, 206, 0.226);
    margin-bottom: 10px;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

.table-title {
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto auto;
}

thead {
    background-color: #414e79;
    color: white;
}

thead tr th {
    text-align: center;
}

tbody tr td {
    text-align: center;
}

.table-title h5 {
    word-break: break-all;
}

.form-control-file {
    border-radius: 5px;
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

td button {
    border: none;
    outline: none;
    background: transparent;
}
      
td button i {
    font-size: 25px;
}
