body {
    overflow-x: hidden;
    background-color: #19123B;
}

.container-fluid{
    margin-top: 15px;    
}

/* Card */
.card {
    background: #212042d2;
    color: #b8b8bb;
    padding: 30px 40px;
    border: none !important;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);  
}

/* Form e Inputs */
.form-control-label {
    margin-bottom: 0;
}

input,
select,
button {
    padding: 8px 15px;
    border-radius: 5px !important;
    margin: 7px 0px;
    box-sizing: border-box;
    border: 1px solid #4e4c74;
    font-size: 18px !important;
    font-weight: 300;
}

input{
    background: #38374dd8;
}

.form-select{
    background-color: #38374dd8; /* A seta aparece apenas com fundo claro*/
    color: #b8b8bb;
    border: 1px solid #4e4c74;
}

input:focus,
select:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #486f7e;
    background: #36335fd8;
    outline-width: 0;
    font-weight: 400;
}

/* Botão Cadastrar */
.btn-block {
    text-transform: uppercase;
    font-size: 15px !important;
    font-weight: 400;
    height: 43px;
    cursor: pointer;
    color: #fff;
    background: linear-gradient(135deg, rgb(10, 4, 41) 39%,rgb(32, 35, 219) 101%);
}

.btn-block:hover {
    color: #031a83;
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

/* Icone Usuário */
.form-icon{
	text-align: center;
    background-color: rgb(10, 4, 41);
    border-radius: 50%;
    font-size: 40px;
    color: white;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-bottom: 10px;
    line-height: 100px;  
}