body {
    overflow-x: hidden;
    background-color: #f5f5f5;
}

.container-fluid{
    margin-top: 15px;    
}

/* Card */
.card {
    background: #ffffff;
    padding: 30px 40px;
    border: none !important;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);  
}

h3{
    color: black;
}

/* Form e Inputs */
.form-control-label {
    margin-bottom: 0;
}

input,
select,
button {
    padding: 8px 15px;
    border-radius: 5px !important;
    margin: 7px 0px;
    border: none;
    font-size: 18px !important;
    font-weight: 300;
}

input{
    background: #dfe1e4d0;
    color:#141414;
    border-bottom: 1px solid #4945457e;
}

.form-select{
    background-color: #dfe1e4d0; /* A seta aparece apenas com fundo claro*/
    color:#141414c9;
    border: none;
    border-bottom: 1px solid #4945457e;
}

input:focus,
select:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 0.3px solid #289eec9d;
    background: #8382ad7e;
    outline-width: 0;
    font-weight: 400;
}

/* Botão Cadastrar */
.btn-primary {
    border: none;
    text-transform: uppercase;
    font-size: 15px !important;
    font-weight: 400;
    height: 43px;
    cursor: pointer;
    background: linear-gradient(135deg, rgb(10, 4, 41) 39%, rgb(32, 35, 219) 100%);
    color: white;
}

.btn-primary:focus {
    box-shadow: none;
    border: none;
}

.btn-primary:hover {
    background: linear-gradient(135deg, rgb(32, 35, 219) 39%,rgb(10, 4, 41) 100%);
    color: white;
}

/* Icone Usuário */
.form-icon{
	text-align: center;
    background-color: #414E79;
    border-radius: 50%;
    font-size: 40px;
    color: white;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-bottom: 10px;
    line-height: 100px;  
}